.skills {
  width: 100%;
  padding: 10vh 0;
  background-color: rgba($color: $rich-black-fogra29, $alpha: .7);

  &__contents {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      padding-top: 10vh;
      display: grid;
      grid-template-columns: 100px;
      grid-gap: 20px;
  

      & i {
         font-size: 4.5rem; 
         color: $amarant;
         position: relative;
      }

      & .skill {
        width: 200px;
        height: 200px;
        background-color: $ghost-white;
        border-radius: 10px;
        box-shadow: 1px 1px 20px rgba($color: #f2f2f2, $alpha: .4);
        box-shadow: 10px 10px 20px rgba($color: #000, $alpha: .2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid $amarant inset;

        &:hover i {
           background-color: $amarant;
           color: $ghost-white;
           border-radius: 50%;
           padding: 1.5rem;
           font-size: 2.4rem;
           transition: .3s ease-out;
         }

        & h4 {
          text-transform: uppercase;
          font-size: 1.8rem;
          margin-top: 3rem;
          font-weight: 700;
          
        }
      }
  }

  .title {
    color: #efefef;
  }
}

@include media-md {

  .skills {
    min-height: 100vh;
    padding-top: 5vh;
    &__contents {
      grid-template-columns: repeat(3, 200px);
      grid-row-gap: 40px;
      grid-column-gap: 40px;
      justify-content: center;
      
    }
  }
}
