$bg-color: #023a40;
$logo-fnt-color: #1a3873;
$links-color: #fff;
$lnk-hovr-color: #bf3b53;
$white-color: #feffef;
$ghost-white: #e9ebf8;
$cadet-blue-crayola: #b4b8c5;
$usafa-blue: #1b5299;
$light-blue: #9fc2cc;
$cornsilk: #f1ecce;
$phthalo-blue: #020887;
$dark-flower-blue: #334195;
$glaucous: #647aa3;
$opal: #95b2b0;
$honey-dew: #f0f8ea;
$jet-color: #2a2b2a;
$beau-blue: #c6ddf0;
$cultured: #f6f7f8;
$rich-black-fogra29: #011627;
$light-grey: #dbd4d3;
$sonic-silver: #757780;
$amarant: #e83151;
$font-family: "Roboto", sans-serif;
$intro-bg: linear-gradient( -45deg, $ghost-white, $honey-dew);
$border-color-gradient: linear-gradient( 90deg, $ghost-white, $amarant);

